{% extends "base.html" %}

{% block content %}
<h3>
   Dodaj nowy wpis
</h3>

<form action="" method="POST">
  {{entry_form.hidden_tag()}}
   <div class="form-group">
       <label for="title">Tytuł wpisu</label>
       {{ entry_form.title(class_="form-control") }}
   </div>
   <div class="form-group">
       <label for="body">Treść</label>
       {{ entry_form.body(class_="form-control", cols="100", rows="10") }}
   </div>
   <div class="form-check">
       {{ entry_form.is_published(class_="form-check-input") }}
       <label class="form-check-label" for="is_published">Wpis opublikowany</label>
   </div>
   <button type="submit" value="Save" name="btn" class="btn btn-primary mt-5">Zapisz</button>
    <button type="submit" value="Cancel" name="btn" class="btn btn-primary mt-5">Rezygnuję</button>
    <a button class="btn btn-primary mt-5" type="button" href="{{ url_for('index') }}">Strona główna</a>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}
</form>

{% endblock %}